# This file is part of gcal-watcher.
# http://github.com/garaemon/gcal-watcher

# Licensed under the MIT license:
# http://www.opensource.org/licenses/MIT-license
# Copyright (c) 2018, garaemon <garaemon@gmail.com>

[run]
omit =
    *tests.py
branch = True
source =
    gcal_watcher

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    if __name__ == .__main__.:
    from urllib.parse import parse_qs
    except ImportError:
